.image {
  display: block;
  width: 100%;
  height: auto;
}

.about-bg {
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  width: 10%;
}

.about-content {
  text-align: center;
  width: 100%;
  height: 100%;
}

.button {
  width: 120px;
  height: 30px;
  background-color: #514a92;
  border-radius: 30px;
  border: 1px solid transparent;
  margin-top: 15px;
}

@media only screen and (max-device-width: 480px) {
  .image {
    display: block;
    width: 100%;
    height: auto;
  }

  .about-bg {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 20%;
    height: 80px;
  }

  .about-content {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .button {
    width: 120px;
    height: 30px;
    background-color: #514a92;
    border-radius: 30px;
    border: 1px solid transparent;
    margin-top: 15px;
  }
}
