<div>
  <div>
    <img class="image about-bg" src="./assets/img/deptrai.png" alt="sleep">
  </div>
  <div class="about-content mt-7">
    <div *ngIf="!mobile" class="grid">
      <div class="col-4">
        asdsad
      </div>
      <div class="col-4">
        <div class="outer-border">
          <div class="mid-border">
            <div>Huynh Pham Hieu Trung</div>
            <div>27-02-1998</div>
            <div>16A Lê Hồng Phong, Phường 12, Quận 10, Thành phố Hồ Chí Minh</div>
            <div>0908277709</div>
            <div>huynhphamhieutrung@gmail.com</div>
          </div>
        </div>
        <div class="outer-border mt-3">
          <div class="mid-border">
            <div>Dynamic, active, creative, enthusiastic, friendly.</div>
            <div>Strong interest in technologies, business.</div>
            <div>I have been working in software development since 2019. During that time, I have been focusing in web, web
              app, mobile platform, especially Node Js and Microservice. As a developer, I take the responsibility for
              suggesting the solutions, discussing with the other ones and implementation.
            </div>
          </div>
        </div>
        <a href="/assets/hpht.pdf" target="_blank">
          <button class="button text">Download Cv</button>
        </a>
      </div>
      <div class="col-4">
        asdasdasddsd
      </div>
    </div>
    <div *ngIf="mobile">
      <div class="outer-border">
        <div class="mid-border">
          <div>Huynh Pham Hieu Trung</div>
          <div>27-02-1998</div>
          <div>16A Lê Hồng Phong, Phường 12, Quận 10, Thành phố Hồ Chí Minh</div>
          <div>0908277709</div>
          <div>huynhphamhieutrung@gmail.com</div>
        </div>
      </div>
      <div class="outer-border mt-3">
        <div class="mid-border">
          <div>Dynamic, active, creative, enthusiastic, friendly.</div>
          <div>Strong interest in technologies, business.</div>
          <div>I have been working in software development since 2019. During that time, I have been focusing in web, web
            app, mobile platform, especially Node Js and Microservice. As a developer, I take the responsibility for
            suggesting the solutions, discussing with the other ones and implementation.
          </div>
        </div>
      </div>
      <a href="/assets/hpht.pdf" target="_blank">
        <button class="button text">Download Cv</button>
      </a>
    </div>
  </div>
</div>
