#myIcon {
  stroke-dasharray: 526.9190673828125;
  animation: fillSvg 20s linear 0s infinite
}

@keyframes fillSvg {
  0% {
    stroke-dashoffset: 526.9190673828125;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
