.home-content {
  position: relative;
}

.text {
  color: #fff;
  font-size: 8rem;
}

.home-bg {
  opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 480px) {
  .text {
    font-size: 2.7rem;
  }
}
