<div>
  <img class="image home-bg" src="./assets/img/deptrai.png" alt="sleep">
  <div class="home-content">
    <div class="text-center">
      <div class="text">HIẾU</div>
      <div class="text">TRUNG</div>
    </div>
    <div class="text-center">
      <div class="name"></div>
    </div>
  </div>
</div>
