<div class="contact">
  <div class="title">Get In Touch</div>
  <img class="image" src="./assets/img/sleep.png" alt="sleep">
  <ul class="banner_social_link">
    <li><a href="https://www.facebook.com/hieutrung.huynhpham/" target="_blank"><i class="fab fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/TrunHuynh" target="_blank"><i class="fab fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/in/huynhphamhieutrung/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://www.instagram.com/_two.seven_/" target="_blank"><i class="fab fa-instagram"></i></a></li>
    <li><a href="https://opensea.io/Another_kid" target="_blank"><i class="fas fa-coins"></i></a></li>
  </ul>
  <div class="description">Or: huynhphamhieutrung@gmail.com</div>
</div>
