.contact{
  text-align: center;
}
.title {
  color: white;
  font-size: 8rem;
  line-height: 1;
  letter-spacing: 0.1em;
  font-weight: normal;
}
.description{
  color: white;
}
.image{
  left: 40%;
  height: 250px;
}

.banner_social_link{
  margin-bottom: 20px;
}

.banner_social_link li {
  display: inline-block;
  margin-right: 12px;
}

.banner_social_link li a {
  color: white;
  border: 1px solid white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  transition: .5s;
}

@media only screen and (max-device-width: 480px) {
  .title {
    color: white;
    font-size: 4rem;
    line-height: 1;
    letter-spacing: 0.1em;
    font-weight: normal;
  }

  .image{
    left: 30%;
    height: 150px;
  }
}
