<div class="p-grid">
  <img class="resume-bg" src="./assets/img/officience.jpeg" alt="sleep">
  <div class="p-col resume-title">
    <div>Officience</div>
    <div>NodeJs Developer</div>
  </div>
  <div class="p-col resume-content">
    Supporting most projects Nodejs
    Consultingfor team&customers
    Consulting & Designing system
    Verifying requirement & estimation
    Research & Development
  </div>
  <a href="/assets/hpht.pdf" target="_blank">
    <button class="button text">Project ~~~~~~></button>
  </a>
</div>


<!--<div class="columns">-->
<!--  <div class="column img-container" style="margin: auto">-->
<!--    <img class="image img-about" src="./assets/img/resume.png" alt="me">-->
<!--  </div>-->
<!--  <div class="column" style="margin: 0 5% 5% 0;">-->
<!--    <div class="container">-->
<!--      <div class="timeline">-->
<!--        <div class="timeline-container primary">-->
<!--          <div class="timeline-icon">-->
<!--            <i class="fas fa-chess-queen"></i>-->
<!--          </div>-->
<!--          <div class="timeline-body">-->
<!--            <h4 class="timeline-title"><span class="badge">Novaland - NodeJs Developer</span></h4>-->
<!--            <p></p>-->
<!--            <p class="timeline-subtitle">2022 - now</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="timeline-container primary">-->
<!--          <div class="timeline-icon">-->
<!--            <i class="fas fa-chess-queen"></i>-->
<!--          </div>-->
<!--          <div class="timeline-body">-->
<!--            <h4 class="timeline-title"><span class="badge">Officience - NodeJs Developer</span></h4>-->
<!--            <p class="check-description">Analyze and understand technical and functional design requirements. Evaluate new technologies and provide feasibility assessments and accurate estimates for project implementations. Collaborate with FE team to provide feedback and guidance about the development of the web application. Work with other developers to set standards and define best practices for coding and design. Support identifying system or design issues and also implementing solutions. Technical advisor.</p>-->
<!--            <p class="timeline-subtitle">2020 - 2021</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="timeline-container danger">-->
<!--          <div class="timeline-icon">-->
<!--            <i class="fas fa-chess-pawn"></i>-->
<!--          </div>-->
<!--          <div class="timeline-body">-->
<!--            <h4 class="timeline-title"><span class="badge">Officience - Fullstack Developer</span></h4>-->
<!--            <p class="check-description">Evaluate new technologies and provide feasibility assessments and accurate estimates for project implementations.</p>-->
<!--            <p class="check-description">Languages: PHP, JS6, HTML, CSS</p>-->
<!--            <p class="check-description">Frameworks: Symfony, Laravel, Angular, VueJs</p>-->
<!--            <p class="timeline-subtitle">2019 - 2020</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="timeline-container success">-->
<!--          <div class="timeline-icon">-->
<!--            <i class="fas fa-chess-pawn"></i>-->
<!--          </div>-->
<!--          <div class="timeline-body">-->
<!--            <h4 class="timeline-title"><span class="badge">VNUHCM - University of Science</span></h4>-->
<!--            <p>Bachelor's degree, Information Technology, 16VP</p>-->
<!--            <p class="timeline-subtitle">2016 - 2020</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
