.resume-bg {
  top: 15%;
  left: 0;
  position: absolute;
  display: block;
  width: 50%;
  height: auto;
  z-index: -1;
}

.button {
  width: 220px;
  height: 30px;
  background-color: #514a92;
  border-radius: 30px;
  border: 1px solid transparent;
  margin: 5px 10%;
  float: left;
}

.resume-title {
  font-family: Bluu Next,serif;
  font-weight: 700;
  font-size: 35px;
  color: #FFFFFF;
  text-align: left;
  margin: 30% 12% 0 12%;
}

.resume-content {
  text-align: left;
  margin: 5px 12%;
}
