<div>
  <app-header class="header"></app-header>
  <div class="app" fullpage id="fullpage" [options]="config">
    <app-home class="section"></app-home>
    <app-about class="section"></app-about>
    <div class="section">
      <app-resume class="slide"></app-resume>
      <app-experience class="slide"></app-experience>
    </div>
    <div class="section">
      <app-resume-2 class="slide"></app-resume-2>
      <app-experience class="slide"></app-experience>
    </div>
    <div class="section">
      <app-resume-3 class="slide"></app-resume-3>
      <app-experience class="slide"></app-experience>
    </div>
    <div class="section">
      <app-my-strong class="slide"></app-my-strong>
    </div>
    <div class="section">
      <app-contact class="slide"></app-contact>
    </div>
  </div>
</div>
