.experience-box {
  text-align: left;
  height: 250px;
  padding: 20px;
  border: solid 2px white;
  border-radius: 20px;
}

.experience-box h2 {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  color: yellow;
}

.experience-box div span {
  color: yellow;
}
