<div>
  <div class="columns is-multiline" style="margin-right: 20px">
    <div class="column is-one-quarter">
      <div class="experience-box">
        <h2>Tee Mee</h2>
        <div>
          <span>Role: </span> Backend Developer
        </div>
        <div>
          <span>Technique: </span> NodeJS, MongoDB, Microservice, GraphQL
        </div>
        <div>
          <span>Responsibility: </span>
          <div>_ Design microservice system</div>
          <div>_ Managing testing & production servers</div>
          <div>_ Research & Development</div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="experience-box">
        <h2>Opla</h2>
        <div>
          <span>Role: </span> Backend Developer
        </div>
        <div>
          <span>Technique: </span> NodeJS, MongoDB, Microservice, GraphQL
        </div>
        <div>
          <span>Responsibility: </span>
          <div>_ Design microservice system</div>
          <div>_ Managing testing & production servers</div>
          <div>_ Developing GraphQL API</div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="experience-box">
        <h2>Blog</h2>
        <div>
          <span>Role: </span> Backend Developer
        </div>
        <div>
          <span>Technique: </span> NodeJS, MongoDB, Restful API
        </div>
        <div>
          <span>Responsibility: </span>
          <div>_ Design system</div>
          <div>_ Managing testing & production servers</div>
          <div>_ Development</div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="experience-box">
        <h2>Plat check</h2>
        <div>
          <span>Role: </span> Fullstack Developer
        </div>
        <div>
          <span>Technique: </span> Flutter, SQLite, NodeJs, MongoDB, Photoshop cs6
        </div>
        <div>
          <span>Responsibility: </span>
          <div>_ Design UI/UX and system</div>
          <div>_ Managing testing & production servers</div>
          <div>_ Research & Development</div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="experience-box">
        <h2>Car</h2>
        <div>
          <span>Role: </span> Fullstack Developer
        </div>
        <div>
          <span>Technique: </span> React, Node JS, Serverless, Dynamodb
        </div>
        <div>
          <span>Responsibility: </span>
          <div>_ Estimation</div>
          <div>_ Consulting technique & solution for customers</div>
          <div>_ Development FE & BE</div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="experience-box">
        <h2>Medical center</h2>
        <div>
          <span>Role: </span> Front-end Developer
        </div>
        <div>
          <span>Technique: </span> Angular
        </div>
        <div>
          <span>Responsibility: </span>
          <div>_ Estimation</div>
          <div>_ Consulting technique & solution for customers & team members.</div>
          <div>_ Development FE</div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="experience-box">
        <h2>In-demo</h2>
        <div>
          <span>Role: </span> Front-end Developer
        </div>
        <div>
          <span>Technique: </span> Nuxt Js, PWA
        </div>
        <div>
          <span>Responsibility: </span>
          <div>_ Estimation</div>
          <div>_ Development FE</div>
        </div>
      </div>
    </div>
    <div class="column is-one-quarter">
      <div class="experience-box">
        <h2>Web Freelance</h2>
        <div>
          <span>Role: </span> Fullstack Developer
        </div>
        <div>
          <span>Technique: </span> wordpress, php, html, css, js
        </div>
        <div>
          <span>Responsibility: </span>
          <div>_ Estimation</div>
          <div>_ Research</div>
          <div>_ Development FE</div>
        </div>
      </div>
    </div>
  </div>
</div>
