.skills {
  span {
    color: #3e4148;
    background-color: #ff9800;
    margin-right: 1%;
    text-align: center;
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
    font-size: 75%;
    word-wrap: break-word;
  }
}

.title {
  font-family: Bluu Next,serif;
  font-size: 25px;
  color: #f9f4f2;
}
