<div class="card text-center">
  <strong class="title">My strong knowledge</strong>
  <div class="flex flex-column card-container">
    <div class="grid flex align-items-center justify-content-center m-2">
      <div class="col-12 skills">
        <div>LANGUAGES:</div>
        <span>NODEJS</span>
        <span>JS6</span>
        <span>HTML/CSS</span>
        <span>C/C++</span>
      </div>
    </div>
    <div class="grid flex align-items-center justify-content-center m-2">
      <div class="col-12 skills">
        <div>FRAMEWORKS:</div>
        <span>Symfony</span>
        <span>React</span>
        <span>Angular</span>
        <span>NuxtJs</span>
      </div>
    </div>
    <div class="grid flex align-items-center justify-content-center m-2">
      <div class="col-12 skills">
        <div>OS:</div>
        <span>Windows</span>
        <span>Centos</span>
        <span>Ubuntu</span>
        <span>MacOS</span>
      </div>
    </div>
    <div class="grid flex align-items-center justify-content-center m-2">
      <div class="col-12 skills">
        <div>DATABASES:</div>
        <span>MongoDB</span>
        <span>MariaDB</span>
        <span>MySQL</span>
        <span>Dynamodb</span>
      </div>
    </div>
    <div class="grid flex align-items-center justify-content-center m-2">
      <div class="col-12 skills">
        <div>DevOps: </div>
        <span>Docker</span>
        <span>Git & CI/CD</span>
        <span>Deployment</span>
        <span>Google Cloud</span>
        <span>AWS</span>
      </div>
    </div>
    <div class="grid flex align-items-center justify-content-center m-2">
      <div class="col-12 skills">
        <div>OTHERS: </div>
        <span>Microservice</span>
        <span>GraphQL</span>
        <span>RabbitMQ</span>
        <span>Elasticsearch</span>
        <span>Google API & Facebook API</span>
        <span>Momo API & Ahamove API</span>
      </div>
    </div>
  </div>
</div>
